<!DOCTYPE html>
<html>
<head>
	<title>NodeImageSearch</title>
</head>
<body>

	https://morning-springs-22224.herokuapp.com/

	
	<h1>FreeCodeCamp Image Search Abstraction Layer</h3>
	<h2>Example Usage:</h2>
	<a href="https://morning-springs-22224.herokuapp.com/api/lolcat">https://morning-springs-22224.herokuapp.com/api/lolcat</a>
	<br/>
	<a href="https://morning-springs-22224.herokuapp.com/api/lolcat?offset=2">https://morning-springs-22224.herokuapp.com/api/lolcat?offset=2</a>

	<h2>Look at the query history:</h2>
	<a href="https://morning-springs-22224.herokuapp.com/queryhistory">https://morning-springs-22224.herokuapp.com/queryhistory</a>

</body>
</html>